version: "3.8"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  dynamodb:
    image: amazon/dynamodb-local
    container_name: dynamodb
    command: "-jar DynamoDBLocal.jar -sharedDb"
    ports:
      - "8000:8000"

  scheduler-api:
    build: .
    container_name: scheduler-api
    environment:
      APP_MODE: api
      CONFIG_PATH: /app/config/config.yaml
    ports:
      - "50051:50051"
    depends_on:
      - redis
      - kafka
      - dynamodb

  scheduler-consumer:
    build: .
    container_name: scheduler-consumer
    environment:
      APP_MODE: consumer
      CONFIG_PATH: /app/config/config.yaml
    depends_on:
      - redis
      - kafka
      - dynamodb

  scheduler-worker:
    build: .
    container_name: scheduler-worker
    environment:
      APP_MODE: worker
      CONFIG_PATH: /app/config/config.yaml
    depends_on:
      - redis
      - kafka
      - dynamodb